 html {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
            }

            body {
                margin: 0;
                padding: 0;
                height: 84%;
                padding-left: 12.9%;
                background-size: 100% 100%;
                -webkit-tap-highlight-color:rgba(0,0,0,0);
                background-image: url(../images/ques-bg.png);
            }

            .rank-wrapper {
                height: 90%;
                width: 88.1%;
                background-size: 100% 100%;
                background-image: url(../images/rank-bg.png);
                margin-top: 9%;
            }

            .content {
                width: 82%;
                height: 76%;
                margin-left: 6.9%;
                padding-top: 39.2%;
            }

            .my-rank-info {
                color: #9f9f9f;
                font-size: 14px;
                margin-bottom: 4%;
                text-align: center;
            }

            .my-avatar {
                width: 25%;
                height: 50%;
                margin: 4% 0 3%;
                border-radius: 50%;
            }

            .my-name, .my-ranking {
                color: #3c6acb;
                letter-spacing: 1px;
            }


            .rank-list {
                height: 65%;
                margin-top: 3%;
                overflow: auto;
            }

            .rank-column {
                color: #1c3eba;
                font-size: 12px;
                padding: 2% 2.5%;
                overflow: hidden;
            }

            .rank-column:first-child {
                color: #6f6f6f;
            }

            .rank-column:nth-child(odd){
                background-color: #edf4fd;
            }

            .ranking {
                float: right;
                text-align: right;
                font-weight: bolder;
            }

            .nickname {
                float: left;
                margin-left: 1%;
            }

            .return-index {
                width: 40%;
                height: 9%;
                margin-top: 5%;
                margin: 6% 21%;
                font-size: 15px;
                text-align: center;
                font-weight: bolder;
                letter-spacing: 2px;
                background-size: 100% 100%;
                background-image: url(../images/submit-answer-bg.png);
            }

            .return-index a {
                color: #1c3cb7;
                text-decoration: none;
            }