 html {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
            }

            body {
                margin: 0;
                padding: 0;
                height: 84%;
                background-size: 100% 100%;
                -webkit-tap-highlight-color:rgba(0,0,0,0);
                background-image: url(../images/test.png);
            }

            // .rank-wrapper {
            //     height: 100%;
            //     margin-left: 5%;
            //     background-size: contain;
            //     background-repeat: no-repeat;
            //     background-image: url(../images/rank-bg.png);
            // }

            .content {
                position: absolute;
                height: 57.2%;
                width: 66.46%;
                left: 16.7%;
                top: 20%;
            }

            .my-rank-info {
                color: #9f9f9f;
                font-size: 14px;
                margin-bottom: 4%;
                text-align: center;
            }

            .my-avatar {
                width: 25%;
                height: 50%;
                margin: 4% 0 3%;
                border-radius: 50%;
            }

            .my-name, .my-ranking {
                color: #3c6acb;
                letter-spacing: 1px;
            }


            .rank-list {
                height: 65%;
                margin-top: 3%;
                overflow: auto;
            }

            .rank-column {
                color: #1c3eba;
                padding: 2% 5%;
                font-size: 15px;
                overflow: hidden;
            }

            .rank-column:first-child {
                color: #6f6f6f;
            }

            .rank-column:nth-child(odd){
                background-color: #edf4fd;
            }

            .ranking {
                float: right;
                text-align: right;
                font-weight: bolder;
            }

            .nickname {
                width: 80%;
                float: left;
                margin-left: 1%;
            }

            .nickname img {
                width: 14%;
                float: left;
                border-radius: 50%;
            }

            .return-index {
                left: 28%;
                // border: 1px solid red;
                width: 40%;
                height: 9%;
                bottom: 10%;
                position: absolute;
            }

            .return-index a {
                width: 100%;
                height: 100%;
                display: block;
            }