 html {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
            }

            body {
                margin: 0;
                padding: 0;
                height: 84%;
                background-size: 100% 100%;
                -webkit-tap-highlight-color:rgba(0,0,0,0);
                background-image: url(../images/rank.png);
            }

            .rank-wrapper {
                margin-left: 5%;
                height: 97%;
                background-size: 100% 100%;
                background-image: url(../images/rank-bg.png);
            }

            .content {
                width: 68%;
                height: 81%;
                padding-top: 36.2%;
                padding-left: 14.5%;
            }

            .my-rank-info {
                color: #9f9f9f;
                font-size: 14px;
                margin-bottom: 4%;
                text-align: center;
            }

            .my-avatar {
                width: 25%;
                height: 50%;
                margin: 4% 0 3%;
                border-radius: 50%;
            }

            .my-name, .my-ranking {
                color: #3c6acb;
                letter-spacing: 1px;
            }


            .rank-list {
                height: 57%;
                margin-top: 3%;
                overflow: auto;
            }

            .rank-column {
                color: #1c3eba;
                padding: 2% 5%;
                font-size: 15px;
                overflow: hidden;
            }

            .rank-column:first-child {
                color: #6f6f6f;
            }

            .rank-column:nth-child(odd){
                background-color: #edf4fd;
            }

            .ranking {
                float: right;
                text-align: right;
                font-weight: bolder;
            }

            .nickname {
                width: 80%;
                float: left;
                margin-left: 1%;
            }

            .nickname img {
                width: 14%;
                float: left;
                border-radius: 50%;
            }

            .return-index {
                width: 40%;
                height: 9%;
                margin: 3% 31%;
                background-size: 100% 100%;
                background-image: url(../images/return-index.png);
            }

            .return-index a {
                width: 100%;
                height: 100%;
                display: block;
            }