 html {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
            }

            body {
                margin: 0;
                padding: 0;
                height: 84%;
                padding-left: 12.9%;
                background-size: 100% 100%;
                -webkit-tap-highlight-color:rgba(0,0,0,0);
                background-image: url(../images/ques-bg.png);
            }

            .rank-wrapper {
                height: 80%;
                width: 88.1%;
                background-size: 100% 100%;
                background-image: url(../images/rank-bg.png);
                margin-top: 16%;
            }

            .tuanhui-logo {
                width: 36.4%;
                position: absolute;
                top: 2.2%;
                left: 4%;
            }

            .content {
                width: 82%;
                height: 76%;
                padding-top: 32%;
                margin-left: 6.9%;
            }

            .my-rank-info {
                color: #9f9f9f;
                font-size: 14px;
            }

            .my-name, .my-ranking {
                color: #3c6acb;
                letter-spacing: 2px;
            }


            .rank-list {
                margin-top: 3%;
                height: 89%;
                overflow: auto;
            }

            .rank-column {
                overflow: hidden;
                padding: 5%;
                color: #1c3eba;
                font-size: 14px;
            }

            .rank-column:first-child {
                color: #6f6f6f;
            }

            .rank-column:nth-child(even){
                background-color: #edf4fd;
            }

            .ranking {
                font-weight: bolder;
                float: left;
                margin-left: 5%;
            }

            .nickname {
                float: right;
            }

            .return-index {
                margin-top: 5%;
                width: 40%;
                height: 9%;

                margin: 10% 21%;
                font-size: 16px;
                text-align: center;
                font-weight: bolder;
                letter-spacing: 2px;
                background-size: 100% 100%;
                background-image: url(../images/submit-answer-bg.png);
            }

            .return-index a {
                color: #1c3cb7;
                text-decoration: none;
            }