html {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
            }

            body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                background-size: 100% 100%;
                -webkit-tap-highlight-color:rgba(0,0,0,0);
                background-image: url(../images/ques-bg.png);
            }

            a {
                color: #1c3cb7;
                text-decoration: none;
            }

            .right-count {
                width: 81.2%;
                height: 22.4%;
                margin: 0 auto;
                background-size: 100% 100%;
                margin-top: 11.1%;
                background-image: url(../images/right-count.png);
            }

            .right-count .content {
                float: left;
                position: relative;
                top: 67%;
                font-size: 20px;
                font-weight: bolder;
                color: #173697;
                left: 27%;
            }

            .right-count .content span {
                font-size: 28px;
                color: #ff0000;
                vertical-align: middle;
            }

            .total-score {
                width: 66.1%;
                height: 24.9%;
                margin: 0 auto;
                background-size: 100% 100%;
                margin-top: 11.1%;
                background-image: url(../images/total-score.png);
            }

            .total-score .content {
                color: #173697;
                font-size: 20px;
                padding-top: 13%;
                text-align: center;
            }

            .total-score .content .title {
                font-size: 16px;
                color: #1140ad;
                letter-spacing: 2px;
            }

            .total-score .content .score {
                margin-top: 2%;
                font-size: 30px;
                color: #1040ad;
                font-weight: bolder;
            }

            .total-score .content .score span {

                font-size: 50px;
                color: #ff0000;
                margin-right: 5%;
            }

            .rank-list {
                width: 38.1%;
                height: 9%;
                color: #1c3cb7;
                font-weight: bolder;
                letter-spacing: 2px;
                text-align: center;
                margin: 0 auto;
                background-size: 100% 100%;
                margin-top: 5%;
                background-image: url(../images/submit-answer-bg.png);
            }

            .restart {
                width: 38.1%;
                height: 9%;
                font-weight: bolder;
                letter-spacing: 2px;
                text-align: center;
                margin: 0 auto;
                background-size: 100% 100%;
                margin-top: 5%;
                background-image: url(../images/submit-answer-bg.png);
            }
