<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
        <link rel="stylesheet" href="__PUBLIC__/css/ques.css">
        <script src="http://apps.bdimg.com/libs/zepto/1.1.4/zepto.js"></script>
        <script src="__PUBLIC__/js/ques.js"></script>
    </head>
    <body>
        <!-- 选择题 -->
        <div id="choose">

        </div>

        <!-- 文字填空题 -->
        <div id="fillblank">

        </div>

        <!-- 带图填空题 -->
        <div id="fillblank-pro">

        </div>

    </body>
    <script>



    </script>
</html>