<!DOCTYPE html>
<html lang="en">
    <head>
        <title>学讲话问问答</title>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
        <link rel="stylesheet" href="__PUBLIC__/css/rank.css?v={$date}">
        <script src="__PUBLIC__/js/zepto.min.js?v={$date}"></script>
        <script src="__PUBLIC__/js/rank.js?v={$date}"></script>
    </head>
    <body>

        <div class="rank-wrapper">
            <div class="content">
                <div class="my-rank-info">
                    <img class="my-avatar" src="">
                    <div style="font-size: 16px">
                        <span class="my-name"></span>&nbsp;排名第&nbsp;
                        <span class="my-ranking"></span>&nbsp;名
                    </div>
                </div>
                <div class="rank-list">
                    <div class="rank-column">
                        <div class="nickname" style="margin-left: 7%; width: 70%">昵称</div>
                        <div class="ranking">名次</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="return-index">
            <a href="{:U('Index/Index')}"></a>
        </div>
    </body>
</html>