<!DOCTYPE html>
<html lang="en">
    <head>
        <title>学讲话问问答</title>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
        <link rel="stylesheet" href="__PUBLIC__/css/rank.css">
        <script src="http://apps.bdimg.com/libs/zepto/1.1.4/zepto.js"></script>
        <script src="__PUBLIC__/js/rank.js"></script>
    </head>
    <body>
        <div class="rank-wrapper">
            <div class="content">
                <div class="my-rank-info">
                    <span class="my-name"></span>&nbsp;排名第&nbsp;
                    <span class="my-ranking"></span>&nbsp;名
                </div>
                <div class="rank-list">
                    <div class="rank-column">
                        <div class="ranking">名次</div>
                        <div class="nickname">昵称</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="return-index">
            <a href="index">返回</a>
        </div>
    </body>
</html>