<!DOCTYPE html>
<html lang="en">
    <head>
        <title>学讲话问问答</title>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
        <link rel="stylesheet" href="__PUBLIC__/css/rank.css?v={$date}">
        <script src="__PUBLIC__/js/zepto.min.js?v={$date}"></script>
        <script src="__PUBLIC__/js/rank.js?v={$date}"></script>
    </head>
    <body>

        <!-- <div class="rank-wrapper"> -->
            <div class="content">
                <div class="my-rank-info">
                    <img class="my-avatar" src="">
                    <div style="font-size: 16px">
                        <span class="my-name"></span>&nbsp;排名第&nbsp;
                        <span class="my-ranking"></span>&nbsp;名
                    </div>
                </div>
                <div class="rank-list">
                    <div class="rank-column">
                        <div class="nickname" style="margin-left: 7%; width: 70%">昵称</div>
                        <div class="ranking">名次</div>
                    </div>
                </div>
            </div>
        <!-- </div> -->

        <div class="return-index">
            <a href="{:U('Index/Index')}"></a>
        </div>
    </body>
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        var shareTitle = '学讲话 问问答';
        var shareDesc = "{$share}";
        var shareURL = "https://redrock.cqupt.edu.cn/one-learn-one-do-two/";
        var shareImg = "https://redrock.cqupt.edu.cn/one-learn-one-do-two/Public/images/share.png";
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: 'wx81a4a4b77ec98ff4', // 必填，公众号的唯一标识
            timestamp: "{$signature['timestamp']}", // 必填，生成签名的时间戳
            nonceStr: "{$signature['noncestr']}", // 必填，生成签名的随机串
            signature: "{$signature['signature']}",// 必填，签名，见附录1
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareQZone',
                'hideAllNonBaseMenuItem'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        function initShare(shareTitle, shareDesc, shareURL, shareImg) {
            wx.ready(function(){
                wx.onMenuShareTimeline({
                    title: shareDesc, // 分享标题
                    link: shareURL,
                    imgUrl: shareImg,
                    success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareAppMessage({
                    title: shareTitle, // 分享标题
                    desc: shareDesc, // 分享描述
                    link: shareURL,
                    imgUrl: shareImg,
                    type: '', // 分享类型,music、video或link，不填默认为link
                    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareQQ({
                    title: shareTitle, // 分享标题
                    desc: shareDesc, // 分享描述
                    link: shareURL,
                    imgUrl: shareImg,
                    success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareQZone({
                    title: shareTitle, // 分享标题
                    desc: shareDesc, // 分享描述
                    link: shareURL,
                    imgUrl: shareImg,
                    success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
            });
        }
        initShare(shareTitle, shareDesc, shareURL, shareImg);
    </script>
</html>